  @tailwind base;
  @tailwind components;
  @tailwind utilities;

    @layer base {
      :root {
        --background: 0 0% 100%;
        --foreground: 31 50% 10%;
        --card: 0 0% 100%;
        --card-foreground: 31 50% 10%;
        --popover: 0 0% 100%;
        --popover-foreground: 31 50% 10%;
        --primary: 31 97.2% 41.8%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 20 5.9% 90%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 31 97.2% 41.8%;
        --radius: 0.5rem;
        --chart-1: ;
        --chart-2: ;
        --chart-3: ;
        --chart-4: ;
        --chart-5: ;
      }
    
      .dark {
        --background: 220 4% 17%;
        --foreground: 60 9.1% 97.8%;
        --card: 31 50% 10%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 31 50% 10%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 31 97.2% 41.8%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 15 0% 35%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 0 0% 17%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 31 97.2% 41.8%;
        --chart-1: ;
        --chart-2: ;
        --chart-3: ;
        --chart-4: ;
        --chart-5: ;
        color-scheme: dark; /* changing the scrollbar color */
      }
    }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @layer components {
    .text-foreground {
      color: hsl(var(--foreground));
    }
  
    .text-secondary-foreground {
      color: hsl(var(--secondary-foreground));
    }
  }

  /* Fix Tailwind unsetting Calcite borders */
calcite-action-group {
  border-style: unset;
  border-width: unset;
  border-block-end: 1px solid var(--calcite-ui-border-3);
}

/* add classes here to modify the calcite dark theme  */
.calcite-mode-dark {
  --calcite-color-brand: #d26e03 !important;
  --calcite-color-brand-hover: #e77c33 !important;
  --calcite-color-brand-press: #b65c02 !important;
}

/* add classes here to modify the calcite light theme  */
.calcite-mode-light {
  --calcite-color-brand: #d26e03 !important;
  --calcite-color-brand-hover: #e77c33 !important;
  --calcite-color-brand-press: #b65c02 !important;
}

/* customize the data-disclaimer-button for light and dark mode */
.calcite-mode-light #data-disclaimer-button {
  --calcite-color-brand: #dedede;
  --calcite-color-brand-hover: #d1d1d1;
  --calcite-color-brand-press: #d1d1d1;
  --calcite-color-text-inverse: #000000
}
.calcite-mode-dark #data-disclaimer-button {
  --calcite-color-brand: #d1d1d1; 
  --calcite-color-brand-hover: #bdbdbd;
  --calcite-color-brand-press: #bdbdbd;
  --calcite-color-text-inverse: #000000;
}

/* 
  basic styling for the text inside of a feature widget, 
  possibly consider using tailwind classes directly in the component, 
  but i cannot find a way to do that yet
*/
.esri-feature {
  letter-spacing: 0em;
  line-height: 1.55rem;
  font-feature-settings:
    "liga" 1,
    "calt" 0;
  background: #fff;
  padding: 1em;
}

h2.esri-widget__heading.esri-feature__title {
    margin: 0;
}

/* .esri-view-height-less-than-medium .esri-popup__main-container {
    max-height: 200px;
    width: 1000px;
} */

.esri-view-width-xlarge .esri-popup__main-container {
    width: 40% !important; 
}

.custom-tooltip a {
  color: #0079c1;
  text-decoration: underline;
}