@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-dotted {
    background-size: 16px 16px;
    background-color: var(--calcite-ui-background);
    background-image: radial-gradient(circle,
        var(--calcite-ui-border-3) 1px,
        transparent 1px);
  }
}

body {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Fix Tailwind unsetting Calcite borders */
calcite-action-group {
  border-style: unset;
  border-width: unset;
  border-block-end: 1px solid var(--calcite-ui-border-3);
}

calcite-button {
  --calcite-ui-brand: #d26e03;
  --calcite-ui-brand-hover: #e77c33;
  --calcite-ui-brand-press: #b65c02;
}


calcite-segmented-control-item[aria-checked="true"] {
  --calcite-ui-brand: #d26e03;
  --calcite-ui-brand-hover: #e77c33;
  --calcite-ui-brand-press: #b65c02;
}


/* 
  basic styling for the text inside of a feature widget, 
  possibly consider using tailwind classes directly in the component, 
  but i cannot find a way to do that yet
*/
.esri-feature {
  letter-spacing: 0em;
  line-height: 1.55rem;
  font-feature-settings:
    "liga" 1,
    "calt" 0;
  background: #fff;
  padding: 1em;
}

.mouse-info {
  display: inline-block;
  position: absolute;
  bottom:20px;
  left:50%;
  text-align: center;
  font-family: 'Open Sans SemiBold';
  font-size: 10pt;
  color: #fff;
  text-shadow: 0 0 3px #000,0 0 3px #000,0 0 3px #000;
  filter: glow(color=black,strength=1);
}