@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 31 100% 95%;
      --foreground: 31 5% 10%;
      --card: 31 50% 90%;
      --card-foreground: 31 5% 15%;
      --popover: 31 100% 95%;
      --popover-foreground: 31 100% 10%;
      --primary: 31 97.2% 41.8%;
      --primary-foreground: 0 0% 100%;
      --secondary: 31 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: -7 30% 85%;
      --muted-foreground: 31 5% 35%;
      --accent: -7 30% 80%;
      --accent-foreground: 31 5% 15%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 31 5% 90%;
      --border: 31 30% 50%;
      --input: 31 30% 26%;
      --ring: 31 97.2% 41.8%;
      --radius: 0.5rem;
     }
    .dark {
      --background: 31 50% 10%;
      --foreground: 31 5% 90%;
      --card: 31 50% 10%;
      --card-foreground: 31 5% 90%;
      --popover: 31 50% 5%;
      --popover-foreground: 31 5% 90%;
      --primary: 31 97.2% 41.8%;
      --primary-foreground: 0 0% 100%;
      --secondary: 31 30% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: -7 30% 25%;
      --muted-foreground: 31 5% 60%;
      --accent: -7 30% 25%;
      --accent-foreground: 31 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 31 5% 90%;
      --border: 31 30% 26%;
      --input: 31 30% 26%;
      --ring: 31 97.2% 41.8%;
      --radius: 0.5rem;
     }
    }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* Fix Tailwind unsetting Calcite borders */
calcite-action-group {
  border-style: unset;
  border-width: unset;
  border-block-end: 1px solid var(--calcite-ui-border-3);
}

/* add classes here to modify the calcite dark theme  */
.calcite-mode-dark {
  --calcite-color-brand: #d26e03 !important;
  --calcite-color-brand-hover: #e77c33 !important;
  --calcite-color-brand-press: #b65c02 !important;
}

/* add classes here to modify the calcite light theme  */
.calcite-mode-light {
  --calcite-color-brand: #d26e03 !important;
  --calcite-color-brand-hover: #e77c33 !important;
  --calcite-color-brand-press: #b65c02 !important;
}

/* customize the data-disclaimer-button for light and dark mode */
.calcite-mode-light #data-disclaimer-button {
  --calcite-color-brand: #dedede;
  --calcite-color-brand-hover: #d1d1d1;
  --calcite-color-brand-press: #d1d1d1;
  --calcite-color-text-inverse: #000000
}
.calcite-mode-dark #data-disclaimer-button {
  --calcite-color-brand: #d1d1d1; 
  --calcite-color-brand-hover: #bdbdbd;
  --calcite-color-brand-press: #bdbdbd;
  --calcite-color-text-inverse: #000000;
}

/* 
  basic styling for the text inside of a feature widget, 
  possibly consider using tailwind classes directly in the component, 
  but i cannot find a way to do that yet
*/
.esri-feature {
  letter-spacing: 0em;
  line-height: 1.55rem;
  font-feature-settings:
    "liga" 1,
    "calt" 0;
  background: #fff;
  padding: 1em;
}

h2.esri-widget__heading.esri-feature__title {
    margin: 0;
}

/* .esri-view-height-less-than-medium .esri-popup__main-container {
    max-height: 200px;
    width: 1000px;
} */

.esri-view-width-xlarge .esri-popup__main-container {
    width: 40% !important; 
}

.custom-tooltip a {
  color: #0079c1;
  text-decoration: underline;
}