@import 'https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/light/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 31 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 31 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 31 50% 10%;
    --primary: 31 97.2% 41.8%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 20 5.9% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 31 97.2% 41.8%;
    --radius: 0.5rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    --background: 220 4% 17%;
    --foreground: 60 9.1% 97.8%;
    --card: 31 50% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 31 50% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 31 97.2% 41.8%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 15 0% 35%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 0% 17%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 31 97.2% 41.8%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
    color-scheme: dark; /* changing the scrollbar color */
  }

  /* styles.css */
  .collapsibleDropdown {
    overflow: hidden;
  }
  .collapsibleDropdown[data-state='open'] {
    animation: slideDown 200ms ease-out;
  }
  .collapsibleDropdown[data-state='closed'] {
    animation: slideUp 200ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
  }
  body > #root {
    @apply h-svh;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}
